// MAINS COLOR
$logo-bg: #45bbbc50;
$logo-color: #45bbbc;
$text-color: #3D4954;
$header-info: #3D4954;
$header-info-color: #a5a09d;
$header-scrolls-bg: #E2E8E8;
$about-section-bg: #121117;
$services-section: #e8ecea;
$footer-card-bg: #19191E;
$highline-var: #DAECED;
$highline-dark: #0E272C;
// /MAINS COLOR

// BUTTONS COLOR
$btn-color-dark: #058283;
$btn-dark-txt: white;
$btn-color-light: white;
$btn-light-txt: #058283;
// /BUTTONS COLOR

// LAYOUT DIMENSIONS
$pad1: 5px;
$pad2: 10px;
$pad3: 20px;
$pad4: 30px;
$padYSec: 100px;
// /LAYOUT DIMENSIONS
