// MAINS COLOR
$logo-bg: #96fefe70 ;
$logo-color: #45bbbc;
$text-color: #3D4954;
$header-info: #3D4954;
$header-info-color: #a5a09d;
// /MAINS COLOR

// BUTTONS COLOR
$btn-color-dark: #048383;
$btn-dark-txt: white;
$btn-color-light: white;
$btn-light-txt: #048383;
// /BUTTONS COLOR

// LAYOUT DIMENSIONS
$pad1: 5px;
$pad2: 10px;
$pad3: 20px;
$pad4: 30px;
$padYSec: 100px;
// /LAYOUT DIMENSIONS
